@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Raleway:wght@400;500&family=Roboto:wght@400;500&display=swap');

html{
    font-size: 62.5%;
}

body{
    color: var(--main_color);
    font-family: 'Inter', sans-serif;
}

h1{
    font-size: 2.8rem;
    font-weight: 600;
}

h2{
    font-size: 2.4rem;
    font-weight: 600; 
}

h3{
    font-size: 2rem;
    font-weight: 600;
}

p, button{
    font-size: 1.4rem;
    font-weight: 400;
}

