@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Raleway:wght@400;500&family=Roboto:wght@400;500&display=swap');

html{
    font-size: 62.5%;
}

body{
    color: var(--main_color);
    font-family: 'Inter', sans-serif;
}

h1{
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 2.7rem;
    text-align: center;
}

h2{
    font-size: 2.4rem;
    font-weight: 600; 
    text-align: center;
}

h3{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

p, button{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    margin-top: 20px;
    text-align: center;
}

.price_text{
    opacity: 0.6;
    line-height: 2.4rem;
}